html, body {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: Calibri Light, Arial;
    background-color: rgb(242,242,242);
}

#root {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.popUp {
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 450px;
    height: 100%;
    background-color: white;
    box-shadow: 12px 0 20px 0 rgba(0,0,0,0.1);

    .popUpController {
        height: 24px;
        margin: 20px 24px 24px 0;
        padding-bottom: 24px;

        background-image: url(img/back.png);
        background-size: 24px;
        background-position: right;
        background-repeat: no-repeat;

        &:hover {
            background-image: url(img/back_hovered.png);
            cursor: pointer;
        }
    }

    .popUpContent {
        overflow-y: auto;
        padding-left: 25px;
        padding-right: 25px;

        &::-webkit-scrollbar {
           display: none;
        }

        .singleNews {
            border-left: 5px solid #b88b58;
            width: 100%;
            margin-top: 24px;

            * {
                padding-left: 24px;
            }

            .title {
                margin-top: 0;
                margin-bottom: 12px;
            }

            .date {
                font-size: 10pt;
                margin-bottom: 0;
                font-style: italic;
            }

            .content {
                margin-top: 12px;
            }

            &:last-child {
                margin-bottom: 24px;
            }
        }
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    
    .object-wrapper {
        width: 90%;
        margin-left: 5%;
        margin-top: 3%;
        margin-right: 5%;
        
        .column {
            display: inline-block;
            width: 15%;
            vertical-align: top;
            margin-left: 5%;
            
            .object {
                width: 100%;
                height: 182px;
                background-color: white;
                box-shadow: 0 0 25px 0 rgba(0,0,0,0.25);

                &:not(:first-child) {
                    margin-top: 48px;
                }
                
                .title {
                    display: flex;
                    height: 48px;
                    width: 100%;
                    color: white;
                    background-color: rgb(78,104,200);

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }

                    H2 {
                        align-self: center;
                        padding-left: 24px;
                        font-size: 14pt;
                    }
                }
                
                .desc {
                    display: flex;
                    margin: 15px 24px 15px 24px;

                    &.news {
                        height: 70px;

                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }

                    &.weather {
                        margin: 15px 24px 0 24px;
                        height: 98px;
                        flex-direction: column;

                        p:first-child {
                            font-size: 14pt;
                            margin: 0;
                        }
                        p:not(:first-child){
                            margin-bottom: 0;
                            margin-top: 12px;
                        }
                    }
                }



                a {
                    margin-left: 24px;
                }
            }
        }
    }
}

.hidden {
    display: none;
}

.error {
    color: rgb(140, 40, 40) !important;
}

.more {
    color: darkgray;

    &:hover {
        color: gray;
    }
}